$color-accent: #EF6C56

$heading-font-family: "Acrata", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$body-font-family: "Harmattan-regular", "Helvetica Neue", "Helvetica", "Arial", sans-serif

$header-background: none
$header-border-bottom-width: 0
$hero-background-color: none
$footer-background-color: none

$body-line-height: 1.2
